@import url(
    'https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:400,400i,700,900|Raleway:300,400,700');
/* Reset styles */
html, body, table, tbody, tr, td, div, span, a, h1, h2, h3, h4, p {
    padding:0;
    margin:0;
    border: none;
}

html, body {
    margin: 0;
    height: 100%;
    background: url("../img/food.png") repeat;
    background-color: #e9231e;
    position: relative;
}

#contentBox {
    min-width: 86%;
    min-height: 100%;
    margin: 0 7%;
    background-color: #ffffff;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    position: relative;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-family: "Lobster", "Playfair Display", cursive;
    font-size: 4em;
}

h2 {
    font-weight: normal;
    font-size: 2em;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
}

h3 {
    font-weight: normal;
    font-size: 1.8em;
    font-family: "Playfair Display", sans-serif;
}

form#loginForm {
    text-align: center;
    font-size: 1em;
}

form#loginForm div {
    padding: 15px;
}
form#loginForm .button {
    margin-top: 30px;
}

.task {
    background-color: #e9231e;
    color: #fff;
    min-width: 60%;
    margin: 20px 20%;
    text-align: center;
    border-radius: 10px;
    display: block;
}

#categoryHeader {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#categoryHeader h3 {
    display: inline;
}

#categoryHeader img {
    width: 100px;
}

#categoryMenu {
    background-color: #e0e0e0;
    position: absolute;
    top: 2%;
    left: 4%;
    border-radius: 15px;
}

#categoryMenu img {
    width: 75px;
}

#categoryMenu .menu {
    display: none;
}

#categoryMenu ul {
    list-style: none;
    margin: 0;
    padding: 0px 40px 60px 80px;
    display: block;
    font-size: 2em;
}

#categoryMenu .menu a.navigation {
    display: block;
    text-decoration: none;
    padding: 0px 40px 10px 80px;
    color: #000;
    font-size: 2em;
}

#categoryMenu .menu hr {
    border: solid #555 2px;
    margin: 15px 45px 10px 65px;
}

#categoryMenu ul li {
    opacity: 0;
    padding-bottom: 5px;
}

#categoryMenu.open {
    width: 60%;
    background-color: #c0c0c0;
    opacity: 0.95;
}

#categoryMenu.open .menu {
    display: block;
}

#categoryMenu.open li {
    opacity: 1;
}

#menuList .menu-item {
    overflow: auto;
    padding-bottom: 10px;
}

#menuList .menu-item img {
    padding-left: 2%;
    width: 8%;
    float: left;
}

#menuList .menu-item table {
    width: 80%;
    padding-left: 2%;
    text-align: center;
}

#menuList .menu-item-price {
    font-weight: bold;
    font-size: 1.5em;
}

#menuList .menu-item-quantity {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item-quantity-text {
    width: 30px;
    height: 30px;
    font-size: 16pt;
    text-align: center;
    font-family: "Raleway", sans-serif;
    vertical-align: middle;
}

.menu-subtract-button, .menu-add-button {
    font-size: 16pt;
    font-family: "Playfair Display", sans-serif;
    height: 30px;
    width: 30px;
    border: 1px solid red;
    color: red;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    margin: 2px 6px 0px 6px;
    box-shadow: 0px 2px #999;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

.menu-subtract-button:hover, .menu-add-button:hover {
    background-color: #ffefe0;
}

.menu-subtract-button:active, .menu-add-button:active {
    background-color: #edd;
    box-shadow: 0px 1px #666;
    transform: translateY(1px);
    -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
}

.menu-subtract-button div, .menu-add-button div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

table#cartView, table#historyView {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

#cartButtons {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#placeOrderForm {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 5%;
}

.inputPair {
    padding-bottom: 20px;
}

.inputPair label {
    padding-left: 10px;
}